<app-navbar></app-navbar>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-3" style="text-align: center; color: #007bff;">Welcome to the Event Management System</h1>
        <p class="lead" style="text-align: center;">Plan, organize, and manage your events seamlessly</p>
        <hr class="my-4">
        <p style="text-align: center;">Welcome to the Event Management System! Our platform offers comprehensive
            solutions for planning, organizing, and managing events of all sizes. Whether you're hosting a corporate
            conference, a wedding, or a community fundraiser, our intuitive tools and features streamline the entire
            process, from initial planning to execution. With customizable event templates, attendee management, budget
            tracking, and real-time analytics, you'll have everything you need to ensure your event is a success. Let us
            help you bring your vision to life and create unforgettable experiences for your guests.</p>
        <p class="lead" style="text-align: center;">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
</div>